.space-between{
    margin-top: 50px;
}

.day{
    font-size: 16px;
    font-weight: 600;
    line-height: 0.5;
}

.current-date{
    font-size: 12px;
    line-height: 0.2;
    font-weight: 400;
    margin-bottom: 30px;
}

.user-toggle {
    background-color: #f0f0f0;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
}

.user-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 8px rgba(0, 123, 255, 0.2);
    border-radius: 5px;
    z-index: 1000;
    min-width: 150px;
}

.user-dropdown .dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
}

.user-dropdown .dropdown-item:hover {
    background-color: #f5f5f5;
}

.btn-filter {
    background: #fff;
    color: #0d6efd !important;
    border: 3px solid #ced4da !important;
    box-shadow: 0 0 5px rgba(13, 110, 253, 0.3);
    min-width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-bar {
    margin-top: 10px;
    width: 100%;
}

.custom-table {
    background: white;
    border-collapse: separate;
    border-spacing: 0 8px;
    width: 100%;
}

.custom-table tr {
    font-size: 12px;
}

.custom-table td {
    background-color: white;
    padding-bottom: 10px !important;
    border-style: dotted;
}

.full{
    width: 100%;
}