.login{
    display: flex;
    align-items: center;

}
.flechita {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.calculadora{
    display: none;
}