/* SideMenu.css */

.side-menu {
  height: 100vh;
  background: #434343;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  gap: 30px;
  transition: width 0.6s ease;
}

.side-menu__logo-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.side-menu__toggle {
  background-color: var(--background-color);
  border-radius: 50%;
  border: black solid 1px;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: calc(50% - 0.75rem);
  right: calc(-0.75rem + -10px);
  transition: transform 0.6s ease;
}

.side-menu__toggle svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--aqua-n09);
}

.side-menu__logo {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  padding: 5px;
  background-color: black;
}

.side-menu__button {
  color: var(--text-color);
  font-size: 1.8rem;
  cursor: pointer;
  outline: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.side-menu__button:hover {
  color: #03d081;
}

.side-menu__button-label {
  display: none;
  width: 0;
  margin-left: 10px;
  font-size: 1rem;
  transition: display, width 0.3s ease 0.6s;
}
