/* Animacion para alerta IN */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animacion para alerta OUT */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.scroll-container {
  width: 100%;
  max-height: 100%;
  border: 2px solid;
  overflow-y: auto;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #e8e8e8;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #353535;
}