.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: calc(100% - 10%);
  height: 100%;
  background-color: var(--background);
  position: absolute;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    width: 100%;
    height: calc(100% - 10%);
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
