
.sidebar {
    width: 20px; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120vh; 
}
  
  .logo {
    margin-bottom: 20px;
  
  }
  
  .logo img {
    width: 80px;
    height: 90px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 60px;
    margin: 0;
    width: 100%;
  }
  
  .sidebar ul li {
    margin: 20px 0;
    text-align: center;
    font-size: 24px;
    color: #f0eded;
    cursor: pointer;
  }
  
  .sidebar ul li:hover {
    color: #007bff;
  }
  