.sidebar {
    background-color: var(--secondary);
    width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}

.brand-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.brand-container img {
    height: 4.25rem;
    width: 4.25rem;
    background-color: var(--darker);
    object-fit: contain;
    border-radius: 15px;
}

.brand-container h2 {
    text-wrap: nowrap;
    overflow: hidden;
}

.sidebar-content {
    margin-top: 3.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar-content button {
    height: 4.25rem;
    width: 100%;
    background-color: transparent;
    color: var(--white);
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    opacity: .9;
    transition: all .15s ease-in-out;
}

.sidebar-content button i {
    width: 2.25rem;
    font-size: 1.75rem;
}

.sidebar-content button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-content button:active,
.sidebar-content button.active {
    color: var(--info);
    opacity: 1;
    margin-left: 1rem;
    width: calc(100% - 1rem);
}


/* COLLAPSED */
/* .sidebar.collapsed {
    --sidebar-width: 100px;
    width: var(--sidebar-width);
}

.sidebar.collapsed .brand-container h2 {
    display: none;
}

.sidebar.collapsed .sidebar-content button h2 {
    display: none;
} */