.container-remesas{
  width: 100%;
  height: 100vh;

  .container-back{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
    .element-left{
      width: 80px;
      height: 550px;
      background-color: #21262b;
  
      ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
  
        li{
          display: flex;
          justify-content: center;
          list-style: none;
  
          .logo{
            padding: 10px;
            border-radius: 16px;
            margin-bottom: 30px;
          }
  
          .icons{
            margin: 15px 0px;
          }
        }
      }
    }
    
    .element-center{
      width: 400px;
      height: 550px;
      background-color: #0e141a;

      > div{
        padding: 0px 10px;

        .title{
          font-size: 12px;
          color: #FFFFFF;
          padding: 15px 0px;
          border-bottom: 1px solid #a3e4d7;
        }

        .subtitle{
          font-size: 18px;
          font-weight: 600;
          color: #a3e4d7;
          margin-top: 10px;
        }

        .numbers{
          padding: 25px 50px;

          input{
            width: 100%;
            height: 50px;
            border-radius: 4px;
            text-align: center;
            font-size: 20px;
            color: #0e141a;
            font-weight: 600;
            letter-spacing: 0.25em;
            word-spacing: 0.25em;
          }

          .back-numbers{
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-weight: 700;
            font-size: 22px;
            color: #0e141a;
            text-align: center;
            background-color: #FFFFFF;
            border-radius: 50%;
            margin: 15px 5px;
            cursor: pointer;
          }

          .back-numbers-cero{
            width: 130px;
            border-radius: 50px;
            margin-top: 0px;
          }

          .back-numbers-delete{
            width: 60px;
            height: 135px;
            border-radius: 50px;
          }

          .back-numbers-enter{
            width: 60px;
            height: 135px;
            border-radius: 50px;
            background-color: blue;
            margin-top: 0px;
          }
        }
      }
    }
    
    .element-right{
      width: 400px;
      height: 550px;
      background-color: #FFFFFF;

      .notification{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f8f9f9;
      }

      .info{
        font-size: 10px;
      }

      .date{
        font-size: 14px;
        font-weight: 700;
        color: #154360;
      }

      .date-info{
        font-size: 12px;
        font-weight: 700;
        color: #0e141a;
      }

      .keyboard{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #154360;
      }

      .borders{
        width: 40px;
        height: 40px;
        border: 1px solid #154360;
        border-radius: 4px;
      }

      .table{
        > div{
          width: 50%;
          height: 40px;
          font-size: 12px;
          font-weight: 600;
          border-top: 1px solid #000000;
          padding: 15px 0px;
        }
      }
    }
  }
}

.back-message-error{
  position: absolute;
  top: 70px;
  right: 10px;
  width: 80%;
  background-color: #f2d7d5;
  padding: 10px;
  color: #FF0000;
}