#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

button {
  cursor: pointer;
  outline: none;
  background: none;
  padding-block: 0;
  padding-inline: 0;
  border: none;
}

h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

hr {
  border: none;
  border-top: 1px solid var(--aqua-n09);
  margin: 10px 0;
}

input {
  outline: none;
  border: none;
  background: transparent;
  color: var(--text-color-secondary);
  font-size: 1.5rem;
  text-align: center;
}

p {
  padding-block: 0;
  padding-inline: 0;
  margin: 0;
}

:root {
  --side-menu-width: 120px;
  /*text*/
  --text-color: #fff;
  --text-color-secondary: #000;

  /* background */
  --background-color: #fff;
  --background-color-secondary: #d0d0d0;
  --background-color-negative: #f8f8f8;

  /* colors */
  --aqua-n09: #75f8ff;
  --success-n09: #0833a2;
  --error-n09: #ff4d4d;
  --rgb-aqua-n09: 117, 248, 255;
  --rgb-success-n09: 8, 51, 162;
}
