:root {
    --primary: #2714a2;
    --secondary: #54cedf;
    --success: #198754;
    --danger: #dc3545;
    --warning: #ffc107;

    --back-ground: #2a2a2a;
    --secondary-back-ground: white;
    --light-gray: #e8e8e8;


}